{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Les employés de Webpick</h1>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>date embauche</th>
                        <th>Poste</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for emp in employes %}
                    <tr>
                        <td>{{ emp.idEmploye }}</td>
                        <td>{{ emp.nom }}</td>
                        <td>{{ emp.prenom }}</td>
                        <td>{{ emp.dateEmbauche }}</td>
                        <td>{{ emp.poste }}</td>
                        <td>{{ emp.email }}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

<script src="{% static 'js/demo/datatables-demo.js' %}"></script>